@import '~styles/Variables';

.button {
  width: 300px;
  background-color: $primary;
  color: $white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.button:hover,
.button:focus {
  outline: none;
}

.button:hover {
  background-color: fade-out($primary, 0.2);
}

.button:disabled {
  background: $disable;
  cursor: not-allowed;
}

.button:active{
  background-color: $active;
}
