@import '~styles/Variables';

.card {
  width: 450px;
  background-color: fade-out($primary, 0.9);;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.card p {
  font-size: 18px;
  color: $text-color;
  padding: 10px 30px;
}

